    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Look at my resume</h2>
                    <p>You can download my resume here.</p>
                    <a href="https://www.docdroid.net/file/download/ZPtB8U3/resume-abhimanyu-tyagi.pdf" class="btn btn-default btn-lg">Abhimanyu's resume</a>
                </div>
            </div>
        </div>
    </section>