    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 style="Impact">My resume</h2>
                    <p>You can download my resume here.</p>
                    <a href="http://docdro.id/BgVq29y" class="btn btn-default btn-lg">Abhimanyu's resume</a>
                </div>
            </div>
        </div>
    </section>