 <section id="prevworks" class="container content-section text-center">
        <div>
            <div>
                <h2>Previous Works</h2>
                <a href="www.collegecruize.com" class="btn btn-default btn-lg"> Maha Meditation</a>
                <p></p>
                <a href="www.campuscruize.org" class="btn btn-default btn-lg"> CampusCruize</a>
                <p></p>
                <a href="www.rocsummerexplosion.com" class="btn btn-default btn-lg"> eCommerece website</a>
            </div>
        </div>
    </section>