 <section id="prevworks" class="container content-section text-center">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Below are some links to websites I have designed and developed as a freelancer</h2>             
                <a href="www.collegecruize.com" class="btn btn-default btn-lg">CollegeCruize</a>
                <a href="www.campuscruize.org" class="btn btn-default btn-lg">Maha Meditation</a>
                <a href="www.rocsummerexplosion.com" class="btn btn-default btn-lg">Roc Concert</a>
            </div>
        </div>
    </section>